---
// layouts
import Layout from '@/layouts/Layout.astro';
import SiteHead from '@/layouts/parts/SiteHead.astro';

// components: react
import IconFont from '@/components/common/IconFont';
---

<Layout headEdit={true}>
  <SiteHead
    slot="site-head"
    title="サンプルタイトル"
    description="サンプルディスクリプション"
  />

  <div>
    <h1>サンプルページ</h1>
  </div>

  <h2>アコーディオン</h2>

  <div class="sample-accordion js-accordion">
    <div class="sample-accordion-item">
      <button
        type="button"
        class="sample-accordion-item__trigger js-accordion-trigger"
      >
        <span class="sample-accordion-item__trigger-text">トリガー1</span>
        <span class="sample-accordion-item__trigger-icon">
          <IconFont
            icon="plus"
            className="-plus"
          />
          <IconFont
            icon="minus"
            className="-minus"
          />
        </span>
      </button>
      <div
        class="sample-accordion-item__panel js-accordion-panel"
        data-accordion-default-open
      >
        <div class="sample-accordion-item__panel-body">
          <p class="sample-accordion-item__panel-text">
            内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト
          </p>
        </div>
      </div>
    </div><!-- /sample-accordion-item -->
    <div class="sample-accordion-item">
      <button
        type="button"
        class="sample-accordion-item__trigger js-accordion-trigger"
      >
        <span class="sample-accordion-item__trigger-text">トリガー1</span>
        <span class="sample-accordion-item__trigger-icon">
          <IconFont
            icon="plus"
            className="-plus"
          />
          <IconFont
            icon="minus"
            className="-minus"
          />
        </span>
      </button>
      <div
        class="sample-accordion-item__panel js-accordion-panel"
        data-accordion-default-open
      >
        <div class="sample-accordion-item__panel-body">
          <p class="sample-accordion-item__panel-text">
            内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト
          </p>
        </div>
      </div>
    </div><!-- /sample-accordion-item -->
    <div class="sample-accordion-item">
      <button
        type="button"
        class="sample-accordion-item__trigger js-accordion-trigger"
      >
        <span class="sample-accordion-item__trigger-text">トリガー1</span>
        <span class="sample-accordion-item__trigger-icon">
          <IconFont
            icon="plus"
            className="-plus"
          />
          <IconFont
            icon="minus"
            className="-minus"
          />
        </span>
      </button>
      <div
        class="sample-accordion-item__panel js-accordion-panel"
        data-accordion-default-open
      >
        <div class="sample-accordion-item__panel-body">
          <p class="sample-accordion-item__panel-text">
            内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト内容さんぷるテキスト
          </p>
        </div>
      </div>
    </div><!-- /sample-accordion-item -->
  </div><!-- /sample-accordion -->
</Layout>
