/*

fullScreenMenu（スマホメニュー）のベーススタイルです。

*/

@use '@/styles/global' as *;

$fullScreenMenu_duration: 0.3s;
$fullScreenMenu_line_margin: 7; //ハンバーガーメニューボタンのライン余白

/* スマホメニューを開くボタン
 * ========================================================================== */
.p-fullScreenMenu-button {
  padding: 0;
  background: none;
  border: none;
  appearance: none;
  position: relative;
  width: 40px;
  height: 40px;
  background: $color-brand06;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  @include min-screen('md') {
    width: 50px;
    height: 50px;
  }
  &.is-open {
    // background: #002241;
  }
}

.p-fullScreenMenu-button__line {
  display: block;
  width: 20px;
  height: 1px;
  background: $color-grayscale-1000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  // margin-top: -1px;
  border-radius: 4px;
  transition: width 0.2s, right 0.2s, left 0.2s;

  &:nth-child(1) {
    transform: translateY(-#{$fullScreenMenu_line_margin}px);
  }
  &:nth-child(2) {
    transition: $fullScreenMenu_duration opacity;
    opacity: 1;
  }
  &:nth-child(3) {
    transform: translateY(#{$fullScreenMenu_line_margin}px);
  }

  @include state('.p-fullScreenMenu-button', '.is-open') {
    @include state('.p-fullScreenMenu-button__line', ':nth-child(1)') {
      animation: button-line-open-top $fullScreenMenu_duration;
      animation-fill-mode: forwards;
      // background: #002241;
    }
    @include state('.p-fullScreenMenu-button__line', ':nth-child(2)') {
      opacity: 0;
      transition: $fullScreenMenu_duration opacity;
      // background: #002241;
    }
    @include state('.p-fullScreenMenu-button__line', ':nth-child(3)') {
      animation: button-line-open-bottom $fullScreenMenu_duration;
      animation-fill-mode: forwards;
      // background: #002241;
    }
  }

  @include state('.p-fullScreenMenu-button', '.is-close') {
    @include state('.p-fullScreenMenu-button__line', ':nth-child(1)') {
      animation: button-line-close-top $fullScreenMenu_duration;
      animation-fill-mode: forwards;
    }
    @include state('.p-fullScreenMenu-button__line', ':nth-child(2)') {
      opacity: 1;
      transition: $fullScreenMenu_duration opacity;
    }
    @include state('.p-fullScreenMenu-button__line', ':nth-child(3)') {
      animation: button-line-close-bottom $fullScreenMenu_duration;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes button-line-close-top {
  0% {
    transform: translateY(0px) rotate(-30deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-#{$fullScreenMenu_line_margin}px) rotate(0deg);
  }
}

@keyframes button-line-close-bottom {
  0% {
    transform: translateY(0px) rotate(30deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(#{$fullScreenMenu_line_margin}px) rotate(0deg);
  }
}

@keyframes button-line-open-top {
  0% {
    transform: translateY(-#{$fullScreenMenu_line_margin}px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-30deg);
  }
}

@keyframes button-line-open-bottom {
  0% {
    transform: translateY(#{$fullScreenMenu_line_margin}px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(30deg);
  }
}

/* スマホメニューのベース（モーダル）
 * ========================================================================== */
.p-fullScreenMenu-base-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  height: 100dvh;
  background: $color-brand;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  overflow-y: scroll;
  // transition: opacity 0.3s, visibility 0.3s;
  &[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
  }
  &[aria-hidden='false'] {
    opacity: 1;
    visibility: visible;
  }
  @include state(".p-fullScreenMenu-base-wrapper", ".is-close") {
    transition: visibility $fullScreenMenu_duration, opacity $fullScreenMenu_duration;
  }
  @include state(".p-fullScreenMenu-base-wrapper", ".is-open") {
    transition: visibility $fullScreenMenu_duration, opacity $fullScreenMenu_duration;
  }
}

.p-fullScreenMenu-base-content {
  display: flex;
  width: 100%;
}

/* スマホメニューの本体（内容）
 * ========================================================================== */
.p-fullScreenMenu-body {
  width: 100%;
  padding-top: 100px;
  padding-left: $side-margin-s;
  padding-right: $side-margin-s;
  @include min-screen('md') {
    padding-top: 130px;
    padding-left: $side-margin;
    padding-right: $side-margin;
  }
}

.p-fullScreenMenu-body__inner {
  padding-bottom: 32px;
}

.p-fullScreenMenu-nav-list__item {
  padding-bottom: 8px;
  border-bottom: solid 1px #fff;
  & + & {
    margin-top: 16px;
  }
}

.p-fullScreenMenu-nav-list__item-body {
  display: flex;
  align-items: center;
}

.p-fullScreenMenu-nav-list__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  color: $color-brand;
}

.p-fullScreenMenu-nav-list__item-text {
  color: #fff;
  line-height: 1.4;
  * + & {
    margin-left: 12px;
  }
}
